body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#one {
   
    border: 5px solid blue;
    width: 25%;
    bottom: 5px;
    right: 5px;
    margin: 5px;
    padding: 5px;
    position: fixed;
}
#two {   
    border: 5px solid green;
    width: 25%;
    top: 5px;
    right: 5px;
    margin: 5px;
    padding: 5px;
    position: fixed;
}
#three {	
    border: 5px solid orange;
    width: 25%;
    top: 5px;
    left: 5px;
    margin: 5px;
    padding: 5px;
    position: fixed;
}
#four {	
    border: 5px solid yellow;
    width: 25%;
    bottom: 5px;
    left: 5px;
    margin: 5px;
    padding: 5px;
    position: fixed;
}
#link {
   text-align: center;
}
a {
	color: #fefefe;
	display: inline-block;
	background: #334CAD;
	text-decoration: none;
}